<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exposición Encinoso</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <header>
      <module href="/components/header.html"></module>
    </header>
    <section id="carousel">
      <module href="/components/carousel.html"></module>
    </section>
    <section id="espacio para asignar">
      <h3>Este espacio está por asignar</h3>
    </section>
    <footer>
      <module href="/components/footer.html"></module>
    </footer>
    <script src="./bundle.js"></script>
  </body>
</html>
