<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exposición Encinoso</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <header>
      <module href="/components/header.html"></module>
    </header>
    <section id="carousel">
      <module href="/components/carousel.html"></module>
    </section>
    <section id="content" class="content">
      <module href="/components/content.html"></module>
    </section>
    <footer>
      <module href="/components/footer.html"></module>
    </footer>
    <div id="whatsapp-icon">
      <a href="https://api.whatsapp.com/send?phone=+34675805384">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
          width="50"
          height="50"
      /></a>
    </div>
    <script src="./bundle.js"></script>
  </body>
</html>
