$content_background: #ff0;
$content_start_color: #020024;
$content_end_color: #00d4ff;

.content{
  padding-top: 1em;
  padding-bottom: 1em;
}

#init_content {
  display: block;
  text-align: justify;
}

#location_content {
  display: none;
}

#contact_content {
  display: none;
}
