$maps_width: 100%;
$sd_padding: 0;
$sd_device_padding: 1em;
$st_width: 100%;
$st_height: 100%;
$st_border: collapse;
$st_font_size: 0.9em;
$st_font_family: sans-serif;
$st_box_shadow: 0 0 20px rgba(0, 0, 0, 0.5);
$st_th_bg_color: #009879;
$st_th_color: #fff;
$st_txt_align: left;
$st_th-tr_padding: 12px 15px;
$st_tbody-tr_border_bot: 1px solid #ddd;
$st_tbody-tr_odd_bg_color: #f3f3f3;
$st_tbody-tr_even_bg_color: #f3f3f3e5;
$st_tbody-tr-last_border_bot: 2px solid #009879;
$st_tbody-tr_active_font_weight: bold;
$st_tbody-tr_active_color: #009879;

.expo_maps {
  width: $maps_width;
}

.expo_map_frame {
  padding: inherit;
}

.expo-schedule-div {
  padding: $sd_padding;
}

@media (max-width: 768px) {
  .expo-schedule-div {
    padding: $sd_device_padding;
  }
}

.expo-schedule-table {
  width: $st_width;
  height: $st_height;
  border-collapse: $st_border;
  font-size: $st_font_size;
  font-family: $st_font_family;
  box-shadow: $st_box_shadow;
}

.expo-schedule-table thead tr {
  background-color: $st_th_bg_color;
  color: $st_th_color;
  text-align: $st_txt_align;
}

.expo-schedule-table th,
.expo-schedule-table td {
  padding: $st_th-tr_padding;
}

.expo-schedule-table tbody tr {
  border-bottom: $st_tbody-tr_border_bot;
}

.expo-schedule-table tbody tr:nth-of-type(odd) {
  background-color: $st_tbody-tr_odd_bg_color;
}

.expo-schedule-table tbody tr:nth-of-type(even) {
  background-color: $st_tbody-tr_even_bg_color;
}

.expo-schedule-table tbody tr:last-of-type {
  border-bottom: $st_tbody-tr-last_border_bot;
}

.expo-schedule-table tbody tr.active-row {
  font-weight: $st_tbody-tr_active_font_weight;
  color: $st_tbody-tr_active_color;
}
