@import "node_modules/bootstrap/scss/bootstrap";
@import "ferre-header.scss";
@import "ferre-carousel.scss";
@import "ferre-content.scss";
@import "ferre-location.scss";
@import "ferre-brands.scss";
@import "ferre-footer.scss";

$content_background: rgb(2, 0, 36);
$gradient_start: rgba(2, 0, 16, 0.3) 0%;
$gradient_mid: rgba(9, 9, 100, 0.8) 35%;
$gradient_end: rgba(0, 212, 235, 0.8) 100%;

#ferre_header{
  z-index: 2;
  position: fixed;
  width: 100%;
}

#ferre_carousel{
  z-index: 1;
}

#ferre_whatsapp-icon {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  padding: 3px;
}

#ferre_facebook-icon{
  position: fixed;
  right: 70px;
  bottom: 10px;
  text-align: center;
  padding: 3px;
}

#ferre_page-container{
  position: relative;
  min-height: 100vh;
}

#ferre_content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#ferre {
  //cssgradient.io
  background: $content_background;

  background: -moz-linear-gradient(
    90deg,
    $gradient_start,
    $gradient_mid,
    $gradient_end
  );

  background: -webkit-linear-gradient(
    90deg,
    $gradient_start,
    $gradient_mid,
    $gradient_end
  );

  background: linear-gradient(
    90deg,
    $gradient_start,
    $gradient_mid,
    $gradient_end
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$content_start_color,endColorstr=$content_end_color,GradientType=1);
  //

}