$gradient_start: rgba(2, 0, 36, 1) 0%;
$gradient_mid: rgba(9, 9, 121, 1) 35%;
$gradient_end: rgba(0, 212, 255, 1) 100%;

.ferre_header {
  background: -moz-linear-gradient(
    90deg,
    $gradient_start,
    $gradient_mid,
    $gradient_end
  );

  background: -webkit-linear-gradient(
    90deg,
    $gradient_start,
    $gradient_mid,
    $gradient_end
  );

  background: linear-gradient(
    90deg,
    $gradient_start,
    $gradient_mid,
    $gradient_end
  );
}
