$display: block;
$text_align: justify;
$visibility: visible;
$opacity: 1;
$animation: fade 1s;

#ferre_init_content {
  display: $display;
  text-align: $text_align;
  visibility: $visibility;
  opacity: $opacity;
  animation: $animation;
}

#ferre_location_content {
  display: none;
  visibility: hidden;
  opacity: 0;
  animation: fade 1s;
}

#ferre_brands_content {
  display: none;
  visibility: hidden;
  opacity: 0;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
