@import "node_modules/bootstrap/scss/bootstrap";
@import "header.scss";
@import "carousel.scss";
@import "content.scss";
@import "location.scss";
@import "footer.scss";


#whatsapp-icon {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  padding: 3px;
}
