<div class="container-fluid" id="contact_content">
  <div class="row brand_logo_row">
    <div class="col-md-3 col-6">
      <img src="../../images/BlackAndDecker.png" alt="Black&Decker" class="brand_logo"/>
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/LarryHouse.png" alt="Larry House" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Roca.png" alt="Roca" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Teka.png" alt="Teka" class="brand_logo"/>
    </div>
  </div>
  <div class="row brand_logo_row">
    <div class="col-md-3 col-6">
      <img src="../../images/DeWalt.png" alt="DeWalt" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/BlackAndDecker.png" alt="logo" class="brand_logo"/>
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/LarryHouse.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Roca.png" alt="logo" class="brand_logo" />
    </div>
  </div>
  <div class="row brand_logo_row">
    <div class="col-md-3 col-6">
      <img src="../../images/Roca.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Teka.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/BlackAndDecker.png" alt="logo" class="brand_logo"/>
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/LarryHouse.png" alt="logo" class="brand_logo" />
    </div>
  </div>
  <div class="row brand_logo_row">
    <div class="col-md-3 col-6">
      <img src="../../images/LarryHouse.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Roca.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Teka.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/BlackAndDecker.png" alt="logo" class="brand_logo"/>
    </div>
  </div>
  <div class="row brand_logo_row">
    <div class="col-md-3 col-6">
      <img src="../../images/BlackAndDecker.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/LarryHouse.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Roca.png" alt="logo" class="brand_logo" />
    </div>
    <div class="col-md-3 col-6">
      <img src="../../images/Teka.png" alt="logo" class="brand_logo" />
    </div>
  </div>
</div>
