<div class="container-fluid">
  <div class="row carousel">
    <div class="col-md-12 carousel-int-col">
      <div
        id="myCarousel"
        class="carousel slide"
        data-interval="8000"
        data-ride="carousel"
      >
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../images/exp_portada.png" alt="First Slide" />
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h5>Exposición Encinoso</h5>
              <p>
                Almacén situado en El Tablero en una zona con aparcamiento muy
                fácil.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../images/exp_muebles_bano_1.png" alt="Second Slide" />
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h5>Exposición de Baños</h5>
              <p>
                Tenemos muebles de baño, espejos, platos de ducha, mamparas,
                etc.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../images/exp_cer_1.png" alt="Third Slide" />
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h5>Exposición de Cerámica</h5>
              <p>
                Tenemos una amplia gama de cerámicas modernas y tradicionales,
                de toda la vida, además de muchas otras opciones disponibles por
                encargo.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../images/exp_herra_1.png" alt="Fourth Slide" />
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h5>Herramientas</h5>
              <p>
                Vendemos también Herramientas de calidad, diferentes marcas
                acordes a la exigencia de los clientes.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../images/exp_fonta_1.png" alt="Fifth Slide" />
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h5>Fontanería</h5>
              <p>
                Comenzamos también la venta de fontanería en la exposición, de
                manera que podamos empezar a ofrecer todo lo necesario para su baño y otras obras en un
                mismo punto de venta.
              </p>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>
