<div class="container-fluid">
  <div class="row header expo-header">
    <div class="col-lg-1"></div>
    <div class="col-lg-1 col-md-2 col-2 logo_col">
      <img
        src="../../images/logo.png"
        id="expo-encinoso-logo"
        alt="logo"
        class="logo"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Volver al inicio"
      />
    </div>
    <div class="col-lg-7 col-md-6 col-5 logo_name">
      <h1 class="company_name">Exposición Encinoso</h1>
    </div>
    <div class="col-lg-3 col-md-4 col-5 nav_links nav_links">
      <ul class="nav justify-content-left nav-pills">
        <li class="nav-item">
          <a
            href=""
            class="nav_links nav-link active"
            id="expo_initialContentLink"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="true"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link nav_links"
            id="expo_contact_link"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Marcas</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link nav_links"
            id="expo_locationLink"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Ubicación</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
