<div id="expo">
  <header id="header">
    <module href="/components/expo-header.html"></module>
  </header>
  <section id="carousel">
    <module href="/components/expo-carousel.html"></module>
  </section>
  <section id="content" class="content">
    <module href="/components/expo-content.html"></module>
  </section>
  <footer id="footer">
    <module href="/components/expo-footer.html"></module>
  </footer>
  <div id="facebook-icon">
    <a
      href="https://www.facebook.com/ExposicionEncinoso"
      alt="Facebook"
      target="_blank"
    >
      <img src="../images/facebook_icon.png" width="50" height="50"
    /></a>
  </div>
  <div id="whatsapp-icon">
    <a
      href="https://api.whatsapp.com/send?phone=+34675805384"
      alt="Whatsapp"
      target="_blank"
    >
      <img src="../images/whatsapp_icon.png" width="50" height="50"
    /></a>
  </div>
</div>
