<div class="container-fluid">
  <div class="row header">
    <div class="col-md-7 col-12 logo_name">
      <img
        src="../../images/exp_logo.png"
        id="encinoso-logo"
        alt="logo"
        class="logo"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Volver al inicio"
      />
      <h1 class="company_name">Exposición Encinoso</h1>
    </div>
    <div class="col-md-5 col-12 nav_links">
      <ul class="nav justify-content-left nav-pills">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="initialContentLink"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="true"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="contact_link"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Marcas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="locationLink"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Ubicación</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
