<div class="container-fluid" id="expo_contact_content">
  <div class="row expo_brands_title">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="expo_brand_text">
        Trabajamos con estas marcas...
      </h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row expo_brand_logo_row">
    <div class="col-md-3 col-6">
      <a
        href="https://mibricolaje.com/brand/17-aicer"
        alt="Aicer"
        target="_blank"
      >
        <img src="../../images/Aicer.jpg" alt="Aicer" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        href="https://mibricolaje.com/brand/21-airmec"
        alt="Airmec"
        target="_blank"
      >
        <img src="../../images/Airmec.jpg" alt="Airmec" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        href="https://www.alfadyser.com/agua.html?manufacturer=122"
        alt="Artic"
        target="_blank"
      >
        <img src="../../images/Artic.jpg" alt="Artic" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        href="https://mibricolaje.com/brand/12-benotti"
        alt="Benotti"
        target="_blank"
      >
        <img src="../../images/Benotti.jpg" alt="Benotti" class="expo_brand_logo" />
      </a>
    </div>
  </div>
  <div class="row expo_brand_logo_row">
    <div class="col-md-3 col-6">
      <a
        href="https://www.blackanddecker.es/products/all-categories"
        alt="Black & Decker"
        target="”_blank”"
      >
        <img
          src="../../images/BlackAndDecker.jpg"
          alt="Black&Decker"
          class="expo_brand_logo"
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a href="https://www.dewalt.es/" alt="DeWalt" target="_blank">
        <img src="../../images/DeWalt.jpg" alt="DeWalt" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        href="https://eleganthogar.es/#nuestra-marca"
        alt="Elegant Home"
        target="_blank"
      >
        <img src="../../images/Elegant.jpg" alt="Elegant" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        href="https://www.goetanceramica.com/productos"
        alt="Goetan Ceramicas"
        target="_blank"
      >
        <img
          src="../../images/GoetanCeramicas.jpg"
          alt="GoetanCeramicas"
          class="expo_brand_logo"
        />
      </a>
    </div>
  </div>
  <div class="row expo_brand_logo_row">
    <div class="col-md-3 col-6">
      <a href="https://laobangroup.store/" alt="Laoban" target="_blank">
        <img src="../../images/Laoban.jpg" alt="Laoban" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        href="https://mibricolaje.com/brand/38-larryhouse"
        alt="Larry House"
        target="”_blank”"
      >
        <img
          src="../../images/LarryHouse.jpg"
          alt="Larry House"
          class="expo_brand_logo"
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a href="https://www.profiltek.com/" alt="Profiltek" target="”_blank”">
        <img
          src="../../images/Profiltek.jpg"
          alt="Larry Profiltek"
          class="expo_brand_logo"
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a href="https://www.roca.es/productos" alt="Roca" target="”_blank”">
        <img src="../../images/Roca.jpg" alt="Roca" class="expo_brand_logo" />
      </a>
    </div>
  </div>
  <div class="row expo_brand_logo_row">
    <div class="col-md-3 col-6">
      <a
        href="https://www.tatay.com/productos/bano"
        alt="Tatay"
        target="”_blank”"
      >
        <img src="../../images/Tatay.jpg" alt="Tatay" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a href="https://www.teka.com/" alt="Teka" target="”_blank”">
        <img src="../../images/Teka.jpg" alt="Teka" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a href="https://www.es.weber/" alt="Weber" target="_blank">
        <img src="../../images/Weber.jpg" alt="Weber" class="expo_brand_logo" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        href="https://www.undefasa.com/producto/"
        alt="Undefasa"
        target="_blank"
      >
        <img
          src="../../images/Undefasa.jpg"
          alt="Undefasa"
          class="expo_brand_logo"
        />
      </a>
    </div>
  </div>
  <div class="row expo_brands_footer">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="expo_brand_text">¡Y muchas más!</h1>
    </div>
    <div class="col-1"></div>
  </div>
</div>
