<div class="container-fluid" id="expo_init_content">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-md-12 content-text">
      <p>
        La Exposición Encinoso, además de un gran almacén, es el punto de venta
        dedicado principalmente al suministro de cerámica y mobiliario de baño.
        Además, actualmente hemos podido expandir más la oferta y hemos
        comenzado a ofrecer herramientas, fontanería, barbacoas y un largo
        etcétera.
      </p>
      <p>
        También tenemos a disposición del cliente diferentes tipos de áridos
        (Arena de África, revuelto, polvillo...) y varillas de hierro enteras o
        cortadas a medida, estribos, etc.
      </p>
    </div>
    <div class="col-lg-1"></div> 
  </div>
    <div class="row">
      <div class="col-lg-1"></div> 
      <div class="col-lg-6 col-md-12 col-12 img-container">
        <img
          src="../../images/exp_aridfer_1.webp"
          class="content-img"
          alt="exp_aridfer_1"
        />
      </div>
      <div class="col-lg-4 col-md-12 col-12 img-container">
        <img
          src="../../images/exp_mampara_1.webp"
          class="content-img"
          alt="exp_mampara_1"
        />
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
