<div class="container-fluid">
    <div class="row footer">
        <div class="col-lg-1"></div>
        <div class="col-lg-4  col-md-5 col-6 footer_content">
          <h6><b>Almacén/Tienda</b></h6>
          <p><b>Exposición Encinoso</b></br>
            C/ Puerto Rico, Nº21</br>
            35109 - El Tablero (San Bartolomé de Tirajana)</br>
            Telf:(+34) 928141323 - Móvil:(+34) 675805384</p>
        </div>
        
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-4 col-md-5 col-6 footer_content">
        </div>
        <div class="col-lg-1"></div>
    </div>
  </div>