<div id="expo">
  <div id="expo_page-container">
    <div id="expo_content-wrap">
      <header id="expo_header">
        <module href="/components/expo-header.html"></module>
      </header>
      <section id="expo_carousel">
        <module href="/components/expo-carousel.html"></module>
      </section>
      <section id="expo_content" class="expo_content">
        <module href="/components/expo-content.html"></module>
      </section>
    </div>
    <footer id="footer">
      <module href="/components/expo-footer.html"></module>
    </footer>
    <div id="expo_facebook-icon">
      <a
        href="https://www.facebook.com/ExposicionEncinoso"
        alt="Facebook"
        target="_blank"
      >
        <img src="../images/facebook_icon.png" width="50" height="50"
      /></a>
    </div>
    <div id="expo_whatsapp-icon">
      <a
        href="https://api.whatsapp.com/send?phone=+34675805384"
        alt="Whatsapp"
        target="_blank"
      >
        <img src="../images/whatsapp_icon.png" width="50" height="50"
      /></a>
    </div>
  </div>
</div>
