<div class="container-fluid" id="ferre_init_content">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-10 content-text">
      <p>
        La Ferretería Encinoso es la ferretería "de toda la vida" del pueblo de El Tablero de Maspalomas,
        contando ya con más de 40 años de experiencia en el sector. Este es sin duda aquel establecimiento en el que, si no encuentra lo
        que busca, posiblemente no lo encuentre en otra parte.
      </p>

      <p>
        Con un trato de lo más familiar, el equipo de trabajadores del que disponemos le dará el mejor 
        asesoramiento posible, lo que hace que el cliente pueda comprar exactamente lo que necesita. De esta
        forma, no es estrictamente necesario tener amplios conocimientos de fontanería, iluminación o construcción
        a la hora de realizar una compra.
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6 img-container">
      
      </div>
      <div class="col-md-4 img-container">
     
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
