<div class="container-fluid">
    <div class="row ferre_footer">
        <div class="col-md-1"></div>
        <div class="col-md-4 ferre_footer_content">
          <h6><b>Tienda</b></h6>
          <p><b>Ferretería Encinoso</b></br>
            C/ Brasil, Nº49</br>
            35109 - El Tablero (San Bartolomé de Tirajana)</br>
            Telf:(+34) 928141460</p>
        </div>
        
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4 ferre_footer_content">
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>