<div class="container-fluid" id="ferre_init_content">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-10 ferre_content-text">
      <p>
  
      </p>
      <p>
      
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6 expo_img-container">
      
      </div>
      <div class="col-md-4 expo_img-container">
     
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
