<div class="container-fluid" id="ferre_contact_content">
  <div class="row ferre_brands_title">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="ferre_brand_text">Trabajamos con estas marcas...</h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row ferre_brand_logo_row">
    <div class="col-md-6 col-6">
      <a
        href="https://mibricolaje.com/brand/17-aicer"
        alt="Aicer"
        target="_blank"
      >
        <img
          src="../../images/Aicer.jpg"
          alt="Aicer"
          class="ferre_brand_logo"
        />
      </a>
    </div>
    <div class="col-md-6 col-6">
      <a
        href="https://mibricolaje.com/brand/21-airmec"
        alt="Airmec"
        target="_blank"
      >
        <img
          src="../../images/Airmec.jpg"
          alt="Airmec"
          class="ferre_brand_logo"
        />
      </a>
    </div>
  </div>
  <div class="row ferre_brand_logo_row">
    <div class="col-md-6 col-6">
      <a
        href="https://www.blackanddecker.es/products/all-categories"
        alt="Black & Decker"
        target="”_blank”"
      >
        <img
          src="../../images/BlackAndDecker.jpg"
          alt="Black&Decker"
          class="ferre_brand_logo"
        />
      </a>
    </div>
    <div class="col-md-6 col-6">
      <a href="https://www.dewalt.es/" alt="DeWalt" target="_blank">
        <img
          src="../../images/DeWalt.jpg"
          alt="DeWalt"
          class="ferre_brand_logo"
        />
      </a>
    </div>
  </div>
  <div class="row ferre_brand_logo_row">
    <div class="col-md-6 col-6">
      <a
        href="https://www.tatay.com/productos/bano"
        alt="Tatay"
        target="”_blank”"
      >
        <img
          src="../../images/Tatay.jpg"
          alt="Tatay"
          class="ferre_brand_logo"
        />
      </a>
    </div>

    <div class="col-md-6 col-6">
      <a href="https://www.es.weber/" alt="Weber" target="_blank">
        <img
          src="../../images/Weber.jpg"
          alt="Weber"
          class="ferre_brand_logo"
        />
      </a>
    </div>
  </div>
  <div class="row ferre_brands_footer">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="ferre_brand_text">¡Y muchas más!</h1>
    </div>
    <div class="col-1"></div>
  </div>
</div>
