<div class="container-fluid">
  <div class="row ferre_header">
    <div class="col-md-7 col-12 ferre_logo_name">
      <img
        src="../../images/logo.png"
        id="ferre-encinoso-logo"
        alt="logo"
        class="ferre_logo"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Volver al inicio"
      />
      <h1 class="ferre_company_name">Ferretería Encinoso</h1>
    </div>
    <div class="col-md-5 col-12 ferre_nav_links nav_links">
      <ul class="nav justify-content-left nav-pills">
        <li class="nav-item">
          <a
            href=""
            class="nav-link ferre_nav_links active"
            id="ferre_initialContentLink"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="true"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link ferre_nav_links"
            id="ferre_contact_link"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Marcas</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link ferre_nav_links"
            id="ferre_locationLink"
            data-toggle="pill"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Ubicación</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
