<div id="ferre">
  <div id="ferre_page-container">
    <div id="ferre_content-wrap">
      <header id="ferre_header">
        <module href="/components/ferre-header.html"></module>
      </header>
      <section id="ferre_carousel">
        <module href="/components/ferre-carousel.html"></module>
      </section>
      <section id="ferre_content" class="content">
        <module href="/components/ferre-content.html"></module>
      </section>
    </div>
    <footer id="footer">
      <module href="/components/ferre-footer.html"></module>
    </footer>
    <div id="ferre_facebook-icon">
      <a
        href="https://www.facebook.com/ferreteriaEncinoso"
        alt="Facebook"
        target="_blank"
      >
        <img src="../images/facebook_icon.png" width="50" height="50"
      /></a>
    </div>
    <div id="ferre_whatsapp-icon">
      <a
        href="https://api.whatsapp.com/send?phone=+34675805384"
        alt="Whatsapp"
        target="_blank"
      >
        <img src="../images/whatsapp_icon.png" width="50" height="50"
      /></a>
    </div>
  </div>
</div>
