<div id="ferre">
    <div id="page-container">
      <div id="content-wrap">
        <header id="header">
        </header>
        <section id="carousel">
        </section>
        <section id="content" class="content">
            En construcción.
        </section>
      </div>
      <footer id="footer">
      </footer>
      <div id="facebook-icon">
        <a
          href="https://www.facebook.com/ExposicionEncinoso"
          alt="Facebook"
          target="_blank"
        >
          <img src="../images/facebook_icon.png" width="50" height="50"
        /></a>
      </div>
      <div id="whatsapp-icon">
        <a
          href="https://api.whatsapp.com/send?phone=+34675805384"
          alt="Whatsapp"
          target="_blank"
        >
          <img src="../images/whatsapp_icon.png" width="50" height="50"
        /></a>
      </div>
    </div>
  </div>
  