<div class="container-fluid">
    <div class="row footer">
        <div class="col-md-1"></div>
        <div class="col-md-4 footer_content">
          <h6><b>Almacén/Tienda</b></h6>
          <p><b>Exposición Encinoso</b></br>
            C/ Puerto Rico, Nº21</br>
            35109 - El Tablero (San Bartolomé de Tirajana)</br>
            Telf:(+34) 928141323 - Móvil:(+34) 675805384</p>
        </div>
        
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4 footer_content">
          <h3>el footer</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>