<div class="container-fluid">
  <div class="row header">
    <div class="col-md-7 logo_name">
      <img src="../../images/exp_logo.png" alt="logo" class="logo" />
      <h1 class="company_name">Exposición Encinoso</h1>
    </div>
    <div class="col-md-5 nav_links">
      <ul class="nav justify-content-left">
        <li class="nav-item">
          <a class="nav-link" id="initialContentLink" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="locationLink" href="#">Ubicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact_link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</div>
