<div id="indexContent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 index-title">
        <h1>Elija el sitio web al que desea acceder:</h1>
      </div>
    </div>
    <div class="row buttons-row-container">
      <div class="col-md-6 main-website-selector-container">
        <button type="button" class="btn btn-primary" id="btn-toFerre">
          Ferreteria
        </button>
      </div>
      <div class="col-md-6 main-website-selector-container">
        <button type="button" class="btn btn-primary" id="btn-toExpo">
          Exposicion
        </button>
      </div>
    </div>
  </div>
</div>
