<div id="indexContent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 index-title">
        <h1>Elija el sitio web al que desea acceder:</h1>
      </div>
    </div>
    <div class="row buttons-row-container">
      <div class="col-lg-1"></div>
      <div class="col-md-12 col-lg-5 main-website-selector-container">
        <img
          src="../../images/ferre_portada.webp"
          alt="btn-toFerre"
          id="btn-toFerre"
          class="website-selector"
        />
      </div>
      <div class="col-md-12 col-lg-5 main-website-selector-container">
        <img
          src="../../images/exp_portada.webp"
          alt="btn-toExpo"
          id="btn-toExpo"
          class="website-selector"
        />
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
